#header {
	max-width: 800px;
	margin: 0 auto;
	padding: 100px;
}

h1 {
	font-size: 500%;
	font-color: black;
}
h2 {
	font-size: 400%;
	font-color: black;
}

h3 {
	font-size: 300%;
	font-color: black;
}

h4 {
	font-size: 200%;
	font-color: black;
}

.center {
	text-align: center;
}

#content {
	max-width: 800px;
	margin: 0 auto;
}

.container {
	max-width: 800px;
	margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container .image {
  width: 50%;
}

.container img {
  width: calc(100% - (20px * 2));
  margin: 20px;
}

.hidden {
  display: none;
}
